---
Language: Cpp
Standard: c++17
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
UseTab: Never
ColumnLimit: 100

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeAssignmentOperators: true
SpacesInAngles: false
SpacesInParentheses: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignOperands: AlignAfterOperator
AlignTrailingComments: true

# Wrapping
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

# Pointers and References
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# Other
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: LogicalBlock
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
PackConstructorInitializers: Never
SeparateDefinitionBlocks: Leave
