---
Checks: >
  -*,
  readability-*,
  modernize-*,
  performance-*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -readability-magic-numbers,
  -readability-braced-init-list-in-function-call,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -bugprone-reserved-identifier,
  -readability-identifier-length

CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '2'
  - key: readability-identifier-length.MinimumLoopCounterNameLength
    value: '1'
  - key: readability-identifier-length.MinimumParameterNameLength
    value: '2'
  - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'

WarningAsError: true
HeaderFilterRegex: 'src/.*\.h(pp)?$'
